<body>
    <h1> Create a New Item</h1>
    <form method="POST" action="/items/create">
        <input type="text" name="name" placeholder="Item name">
        <input type="text" name="price" placeholder="Item price">
        <button type="submit">Add item</button>
    </form>
</body>